# Mapbox public token — used in the browser to render the map
# Get yours at https://account.mapbox.com/
NEXT_PUBLIC_MAPBOX_TOKEN=pk.eyJ1Ijoia2Jlc2hvcmU2IiwiYSI6ImNtaG1kN3NvMjA5eTEyaW9nNG9uMjdqcWUifQ.JywdBqHqT3tcQ8IbyljLjg

# Mapbox secret token — used server-side for geocoding
# Must have the Geocoding scope enabled
MAPBOX_SECRET_TOKEN=pk.eyJ1Ijoia2Jlc2hvcmU2IiwiYSI6ImNtaG1kN3NvMjA5eTEyaW9nNG9uMjdqcWUifQ.JywdBqHqT3tcQ8IbyljLjg
